In [1]:
import pandas as pd
from docx import Document
import os
import time
import re

In [2]:
basedir = os.getcwd()
basedir

'/Users/ajsaule'

In [6]:
dfs_0=[]

In [7]:
def table_read_0(document):
    document = Document("/Users/ajsaule/Desktop/parse/26 mar 2014-25 apr 2017/"+file)
    single_para = document.paragraphs[1].text
    if single_para.startswith('Об изменении цен'):
        f=f=re.findall(r'по.*года', document.paragraphs[1].text)
    else:
        f=f=re.findall(r'по.*года', document.paragraphs[4].text)
    for i in range(len(document.tables)):
        if 2<=i<=5:
            table=document.tables[i]
            data = [[cell.text for cell in row.cells] for row in table.rows]
            df = pd.DataFrame(data)
            #time.sleep(2)
            df['date']=f[0]
            dfs_0.append(pd.DataFrame(df))

In [8]:
path = '/Users/ajsaule/Desktop/parse/26 mar 2014-25 apr 2017/'
files = os.listdir(path)
for file in files:
    time.sleep(3)
    if file.endswith('.docx'):
        table_read_0(file)

In [9]:
len(dfs)

648

In [16]:
dfs[4]

,0,1,2,3,4,5,6,7,8,date
0,,Социально-значимые продовольственные товары,Социально-значимые продовольственные товары,Мука пшеничная первого сорта,Хлеб пшеничный из муки первого сорта,Рис,Макаронные изделия,Макаронные изделия,Макаронные изделия,по 6 января 2015 года
1,,за неделю,с начала месяца,Мука пшеничная первого сорта,Хлеб пшеничный из муки первого сорта,Рис,вермишель,лапша,рожки,по 6 января 2015 года
2,Астана,"101,4","101,4","100,0","108,2","100,0","100,0","100,0","100,0",по 6 января 2015 года
3,Алматы,"100,1","100,1","100,0","100,0","100,0","100,0","100,0","100,0",по 6 января 2015 года
4,Актау,"100,0","100,0","100,0","100,0","100,0","100,0","100,0","100,0",по 6 января 2015 года
5,Актобе,"101,0","101,0","100,0","100,0","100,0","100,5","100,0","101,1",по 6 января 2015 года
6,Атырау,"100,5","100,5","100,0","100,0","100,4","100,0","100,0","100,0",по 6 января 2015 года
7,Жезказган,"100,0","100,0","100,0","100,0","100,0","100,0","100,0","100,0",по 6 января 2015 года
8,Кокшетау,"100,0","100,0","100,0","100,0","100,0","100,0","100,0","100,0",по 6 января 2015 года
9,Караганда,"101,7","101,7","100,0","100,0","100,0","102,1","101,1","102,1",по 6 января 2015 года
10,Костанай,"100,0","100,0","100,0","100,0","100,0","100,0","100,0","100,0",по 6 января 2015 года
11,Кызылорда,"100,4","100,4","100,0","100,0","100,0","100,0","100,0","100,0",по 6 января 2015 года
12,Уральск,"100,0","100,0","100,0","100,0","100,0","100,0","100,0","100,0",по 6 января 2015 года
13,Усть-Каменогорск,"100,2","100,2","100,0","100,0","99,3","100,5","101,1","100,0",по 6 января 2015 года
14,Павлодар,"100,4","100,4","100,0","100,0","100,0","100,0","100,0","100,0",по 6 января 2015 года
15,Петропавловск,"100,6","100,6","100,0","100,0","100,0","100,0","100,0","100,0",по 6 января 2015 года
16,Семей,"100,9","100,9","100,0","100,0","98,1","100,0","100,0","100,5",по 6 января 2015 года
17,Талдыкорган,"100,0","100,0","100,0","100,0","100,0","100,0","100,0","100,0",по 6 января 2015 года
18,Тараз,"100,7","100,7","103,5","100,0","100,0","100,0","100,0","100,0",по 6 января 2015 года
19,Шымкент,"100,2","100,2","100,0","100,0","100,0","97,1","100,0","100,0",по 6 января 2015 года
20,По обследованным городам,"100,5","100,5","100,1","100,8","99,9","99,9","100,1","100,2",по 6 января 2015 года

In [11]:
dfs_tmp=[]
dfs_tmp_1=[]
dfs_tmp_2=[]
dfs_tmp_3=[]

In [15]:
table_1=dfs_0[0::4]
for t1 in table_1:
    time.sleep(2)
    df_1=pd.DataFrame(t1)
    outside_col, inside_col = df_1.iloc[0], df_1.iloc[1]
    df_1.columns = pd.MultiIndex.from_tuples(list(zip(outside_col,inside_col)))
    df_1=df_1.drop(df_1.index[[0,1]]).reset_index(drop=True).drop('с начала месяца', axis=1, level=1).droplevel(level=0, axis=1).rename( columns={'':'region', 'за неделю': 'Социально-значимые продовольственные товары'})
    df_1=df_1.rename(columns={df_1.columns[8]: 'date'})
    df_1=df_1.melt(id_vars=['region', 'date'], var_name="type_of_goods", value_name="price_in_per")
    #df_1 = pd.concat()
    dfs_tmp.append(df_1)

dfs_tmp = pd.concat(dfs_tmp).reset_index().drop(columns=['index'])
time.sleep(2)
table_2=dfs_0[1::4]
for t2 in table_2:
    time.sleep(2)
    df_2=pd.DataFrame(t2)
    df_2= df_2.rename(columns=df_2.iloc[1]).drop(df_2.index[[0,1]]).reset_index(drop=True).rename( columns={'':'region'})
    df_2=df_2.rename(columns={df_2.columns[10]: 'date'})
    df_2=df_2.melt(id_vars=['region', 'date'], var_name="type_of_goods", value_name="price_in_per")
    #df_1 = pd.concat()
    dfs_tmp_1.append(df_2)

dfs_tmp_1 = pd.concat(dfs_tmp_1).reset_index().drop(columns=['index'])
time.sleep(2)
table_3=dfs_0[2::4]
for t3 in table_3:
    time.sleep(2)
    df_3=pd.DataFrame(t3)
    df_3= df_3.rename(columns=df_3.iloc[1]).drop(df_3.index[[0,1]]).reset_index(drop=True).rename( columns={'':'region'})
    df_3=df_3.rename(columns={df_3.columns[11]: 'date'})
    df_3=df_3.melt(id_vars=['region', 'date'], var_name="type_of_goods", value_name="price_in_per")
    #df_1 = pd.concat()
    dfs_tmp_2.append(df_3)

dfs_tmp_2 = pd.concat(dfs_tmp_2).reset_index().drop(columns=['index'])
time.sleep(2)
table_4=dfs_0[3::4]
for t4 in table_4:
    time.sleep(3)
    df_4=pd.DataFrame(t4)
    df_4= df_4.rename(columns=df_4.iloc[1]).drop(df_4.index[[0,1]]).reset_index(drop=True).rename( columns={'':'region'})
    df_4=df_4.rename(columns={df_4.columns[10]: 'date'})
    df_4=df_4.melt(id_vars=['region', 'date'], var_name="type_of_goods", value_name="price_in_per")
    #df_1 = pd.concat()
    dfs_tmp_3.append(df_4)

dfs_tmp_3 = pd.concat(dfs_tmp_3).reset_index().drop(columns=['index'])
sleep(2)

TypeError: first argument must be an iterable of pandas objects, you passed an object of type "DataFrame"

In [13]:
l_pd=[dfs_tmp, dfs_tmp_1, dfs_tmp_2, dfs_tmp_3]
n_df_0=pd.concat(l_pd)

NameError: name 'n_df' is not defined

In [ ]:
n_df_0